/*
 * Ingresa el CSS del proyecto en este archivo
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* Establece la fuente de Google aquí */
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
}

img {
  vertical-align: middle;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.link{
  font-weight: 700;
  padding: 21px;
  display: inline-block;
}

.logo{
  float: right;/*posicione lado derecho*/

}

header{
  position: fixed;
  background: white;
  width: 100%;
  top:0;
}

.menu{
  padding: 14px 70px;
  overflow: auto;
}

#home{
  background-image: url(../assets/images/bg-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 554px;
  text-align: center;
  margin-top:80px;
}
#home .container{
  color: white;
  padding: 70px;
}

.text-home{
  font-size: 53px;
}

.btn-home{
  background: #2ECC71;
  color: #fff;
  padding: 11px 20px;
  border-radius: 1px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 63px;
  display: inline-block;
  font-size: 14px;
}

#services{
  background-color: #F17C72;
  text-align: center;
  color: #fff;
  padding: 70px 7px;
}

.box-services{
  display: inline-block;
  width: 30%;
  margin-top: 63px;
}
.text-services{
  font-size: 35px;
  letter-spacing: 2px;
}

footer{
  text-align: center;
  height: 70px;
  background: #373b47;
  color: white;
  padding-top: 7px;
}
#work{
  background-color:#F6D9CD ;
  text-align: center;
  color: #fff;
  padding: 70px 7px;
  width: 100%;
}

#work .container{
  color: black;
  padding: 70px;
}

.text-work{
  font-size: 35px;
  letter-spacing: 2px;
}
/*.row:before, .row:after{
    content: "";
    display: table;
}
.row:after{
    clear: both;
}*/
.row{
  display: grid;
  grid-template-columns:30% 30% 30%;
  grid-gad:10px ;
  
}
.row img{
  width: 100%;
  margin-top: 10px;
  /*width: 200px;*/

}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 240, 181,0.6); /* Fallback color */
    background-color: rgba(0, 240, 181,0.6); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    border: 5px solid white;

}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #c10b0b;
    padding: 10px 0;
    height: 150px;
    font-weight: bold;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 79px;
    right: 409px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
#work .picture {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    border: 16px solid #F6D9CD;
    color: black;
}

#work .picture:hover {opacity: 0.7;}